ul, li, ol, p {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    -webkit-appearance: none;
    outline: 0;
    font-family: "microsoft yahei";
    text-decoration: none;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, select, textarea {
    -webkit-appearance: none;
    outline: 0;
    font-family: "microsoft yahei";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "microsoft yahei";
    padding: 0;
    margin: 0;
    line-height: 1.45;
    -webkit-text-size-adjust: none;
    font-size: 10px;
}

div.container {
    padding: 20px;
}

input.auto {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 300px;
    font-size: 1rem;
    overflow: hidden;
    height: 40px;
    text-indent: .5rem;
}

div.auto_container {
    background-color: white;
    position: absolute;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow-x: auto;
}

div.auto_container > div {
    padding: .7rem 0;
    text-indent: .5rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
    float: left;
}

div.auto_container > div.active {
    background-color: #eee;
}
